*.pyc
*.idx
__pycache__
*~
temp/
example_models/Si/models/GAP/*
!example_models/Si/models/GAP/README
.DS_Store
*.eggs
*.egg-info

testingframework/example_models/In2O3/models/*
testingframework/example_models/In2O3/run_dir/*